{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>{% block title %}CLOTHING_JMW{% endblock %}</title>
</head>
<body class="min-h-screen bg-gray-100">
    <header>
        {# Your header content #}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        {# Your footer content #}
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>